$font-awesome : "FontAwesome";
$font-awesome-ttf: "../fonts/fontawesome-webfont.ttf";
$color-milano-red: #b32500;
$color-gallery: #eeeeee;
$color-dusty-gray: #999999;
$color-astral: #337ab7;
$color-white: #ffffff;
$color-golden: #fbae00;
$color-blue: #0063c3;
$color-black: #000000;
$color-silver: #c7c7c7;
$color-wild-sand: #f6f6f6;
$color-koromiko: #ffbe61;
$color-cape-palliser: #a377a3;
$color-night-rider: #333;
$color-midnight: #222f3f;
$color-gray: #888888;
$breakpoints: (
    small: 576px,
    medium: 768px,
    large: 992px,
    extra: 1200px
)