@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

.title {
    font-size: 12px;
    margin: 4px 0 5px;
    font-weight: 700;
}

.checkbox-list {
    margin-top: 5px;
    margin-bottom: 20px;

    input[type="checkbox"] {
        margin-left: 0;
    }

    li.option {
        @include flex(row, flex-start, center);
        font-size: 12px;
        margin-bottom: 3px;

        label, input {
            cursor: pointer;
        }

        &:hover {
            color: $color-milano-red
        }
    }
}